.mobile {
  display: none;
}

.main-container {
  padding: 32px 64px;
}

@media only screen and (max-width: 820px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .main-container {
    padding: 16px 32px;
  }
}
